<div class="modal-header">
  <p class="modal-title">Project protected</p>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="password">Please introduce password:</label>
    <input
      type="password"
      class="form-control"
      id="password"
      [(ngModel)]="password"
    />
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="showAlert">
    Incorrect password, please try again.
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="button-primary" (click)="submit()">
    Submit
  </button>
  <button type="button" class="button-primary cancel" (click)="dismiss()">
    Cancel
  </button>
</div>
