<div class="marquee">
  <ul class="marquee__content">
    <li><span class="filled">product</span> design</li>
    <li><span class="filled">ux</span> design</li>
    <li><span class="filled">visual</span> design</li>
    <li><span class="filled">front-end</span> developement</li>
  </ul>

  <ul aria-hidden="true" class="marquee__content">
    <li><span class="filled">product</span> design</li>
    <li><span class="filled">ux</span> design</li>
    <li><span class="filled">visual</span> design</li>
    <li><span class="filled">front-end</span> developement</li>
  </ul>
</div>
