<div class="project-inner-container">
  <div class="header-container">
    <div class="">
      <h2 data-aos="fade-up">Sales Payment Statement</h2>
      <div class="header-img-overlay">
        <img
          data-aos="fade-down"
          class="header-img"
          src="./assets/img/projects/sales-statement/salesstatement-header-img.png"
        />
      </div>
      <div class="tags-container">
        Tools | Technologies | Methodologies:<br />
        <div class="tags-wrapper">
          <div class="project-tag">user interviews</div>
          <div class="project-tag">feedback analysis</div>
          <div class="project-tag">heuristic evaluation</div>
          <div class="project-tag">figma</div>
          <div class="project-tag">carbon design system</div>
        </div>
      </div>
    </div>
  </div>
  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col">
      <h5>Overview</h5>
      <p>
        The project focused on renewing the Sales Statement app within IBM's
        main Sales Team payment and reporting system. This app provided monthly
        sales sales statements to the global sales team. The main challenge I
        faced as Product Strategist was to design an adaptable solution that
        catered to different geographies while effectively addressing users'
        pain points and deliver a renewed, user-friendly interface.
      </p>
      <h5>Research and findings</h5>
      <p>
        I implemented a comprehensive research approach to enhance the Sales
        Statement app. The research strategies I decided to apply were:
      </p>
      <ul>
        <li>
          Heuristic evaluation of former interface: to discover and validate
          reported pain points.
        </li>
      </ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="col">
      <ul>
        <li>
          User interviews: interview end users is my favorite research method,
          it allows me to empathize with them and know from first hand their
          needs and expectations for the final product.
        </li>
        <li>
          Feedback survey analysis: I personally conducted a qualitative
          analysis of the comments collected in the former interface to gain a
          deeper understanding of specific user frustrations and preferences.
        </li>
      </ul>
      <p>
        The research revealed challenges related to the clarity and transparency
        of payment breakdown information, directly affecting sellers' commission
        payments.
      </p>
      <p>
        Sellers found it challenging to understand the payment breakdown
        information due to its lack of clarity. This resulted in confusion and
        frustration, as commissions were a vital aspect of their compensation.
        The interviews and feedback analysis make clear to me the importance of
        improving the overall user experience and addressing the specific pain
        points related to payment statement clarity.
      </p>
    </div>
  </div>
  <!--IMG BLOCK-->
  <div class="img-block-container">
    <div class="img-container">
      <div
        (click)="
          imgZoom(
            './assets/img/projects/sales-statement/heuristicevaluation.png'
          )
        "
      >
        <img
          src="./assets/img/projects/sales-statement/heuristicevaluation.png"
          class="img-text"
        />
      </div>
      <figcaption>
        Heuristic evaluation consists in examining the UI and judge its
        compliance with recognized usability principles.
      </figcaption>
    </div>
    <div class="img-container">
      <div
        (click)="
          imgZoom('./assets/img/projects/sales-statement/feedbackanalysis.png')
        "
      >
        <img
          src="./assets/img/projects/sales-statement/feedbackanalysis.png"
          class="img-text"
        />
      </div>
      <figcaption>Quantitative analysis of feedback from users.</figcaption>
    </div>
  </div>
  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col">
      <h5>Requirements gathering process</h5>
      <p>
        I engaged the stakeholders through collaborative meetings to enhance the
        research findings. These interactions provided valuable insights into
        business goals, legal requirements, and the diverse needs of various
        regions.It was crucial to design a solution that not only satisfied user
        needs but also aligned with specific legal regulations in each country
        or region.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col">
      <p>
        Analyzing these research findings made evident to me that the renewed
        app had to tackle the issue of unclear payment breakdown information,
        adapt to different geographical contexts, and comply with legal
        requirements. These insights formed the basis for the subsequent design
        and testing phases of the project.
      </p>
    </div>
  </div>
  <!--IMG BLOCK-->
  <div class="img-block-container">
    <div class="img-container">
      <div
        (click)="
          imgZoom('./assets/img/projects/sales-statement/designplayback.png')
        "
      >
        <img
          src="./assets/img/projects/sales-statement/designplayback.png"
          class="img-text"
        />
      </div>
      <figcaption>
        Design playbacks are key to engage strategic team members in the
        project.
      </figcaption>
    </div>
    <div class="img-container">
      <!--<div
        (click)="
          imgZoom('./assets/img/projects/sales-statement/feedbackanalysis.png')
        "
      >
        <img
          src="./assets/img/projects/sales-statement/feedbackanalysis.png"
          class="img-text"
        />
      </div>
      <figcaption>Quantitative analysis of feedback from users.</figcaption>
    </div>-->
    </div>
  </div>
  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col">
      <h5>Design and testing</h5>
      <p>
        I utilized IBM's Carbon Design System to create the screens in Figma
        that maintained consistency with the overall look and feel of the
        product. The design aimed to tackle the challenge of providing clear and
        informative payment breakdown information, a significant pain point for
        sellers due to its impact on commission payments. I conducted user
        testing and employed iterative design processes to refine the user
        experience while considering user needs and business goals.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col">
      <p>
        By conducting usability tests and engaging in design playbacks with
        stakeholders, I actively shaped the design iterations to ensure
        alignment with user needs and business goals. The insights gained from
        these collaborative efforts were invaluable in refining the design,
        ultimately delivering a user-centered solution that met both functional
        and strategic requirements. By actively incorporating feedback from
        testing and maintaining ongoing engagement with stakeholders, the design
        process resulted in a more effective and purposeful outcome.
      </p>
    </div>
  </div>
  <!--IMG BLOCK-->
  <div class="img-block-container">
    <div class="img-container">
      <div
        (click)="
          imgZoom(
            './assets/img/projects/sales-statement/salesstatement_home_analyst_search_1.png'
          )
        "
      >
        <img
          src="./assets/img/projects/sales-statement/salesstatement_home_analyst_search_1.png"
          class="img-text"
        />
      </div>
      <figcaption>
        Tailored filtering functions were essential for the search screen.
      </figcaption>
    </div>
    <div class="img-container">
      <div
        (click)="
          imgZoom(
            './assets/img/projects/sales-statement/salesstatement_open_expanded.png'
          )
        "
      >
        <img
          src="./assets/img/projects/sales-statement/salesstatement_open_expanded.png"
          class="img-text"
        />
      </div>
      <figcaption>
        Appropriate layout helped reflecting clarity on statement screen, which
        was a majer need for users.
      </figcaption>
    </div>
  </div>
  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col">
      <h5>Results and key learnings</h5>
      <p>
        The renewed Sales Statement app successfully addressed the pain points
        identified during the research phase. By improving the clarity of
        payment breakdown information, sellers could confidently understand
        their commissions, reducing frustration and improving overall
        satisfaction.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col">
      <p>
        The project highlighted to me the significance of conducting thorough
        research, involving stakeholders, and iteratively testing designs to
        achieve a user-centered solution. The learnings from this project
        reinforced on me the importance of understanding user needs, aligning
        with business requirements, and continuously iterating to deliver a
        high-quality product.
      </p>
      <button
        class="button-primary"
        (click)="
          openLink(
            'https://www.figma.com/proto/eEIfJmWXuD9mZ7JKozY33w/SalesStatement?page-id=0%3A1&type=design&node-id=1-37573&viewport=1270%2C-12012%2C0.59&t=a2E9Eow7ntd587gz-1&scaling=min-zoom&starting-point-node-id=20%3A240161&mode=design'
          )
        "
      >
        See the Figma prototype
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-box-arrow-up-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
          />
          <path
            fill-rule="evenodd"
            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
