<div class="project-inner-container">
  <div class="header-container">
    <div class="">
      <h2 data-aos="fade-up">ADHD Website</h2>
      <div class="header-img-overlay">
        <img
          data-aos="fade-down"
          class="header-img"
          src="./assets/img/projects/mental-b/mental-b-project-head-img.webp"
        />
      </div>
      <div class="tags-container">
        Tools | Technologies | Methodologies:<br />
        <div class="tags-wrapper">
          <span class="project-tag">Angular</span
          ><span class="project-tag">Firebase</span
          ><span class="project-tag">Bootstrap</span>
          <span class="project-tag">sass</span>
        </div>
      </div>
    </div>
  </div>
  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col parr-block">
      <h5>Overview</h5>
      <p>
        The ADHD Informative Website project aimed to create an educational
        platform for providing comprehensive information about Attention Deficit
        Hyperactivity Disorder (ADHD) and its related topics. As the front-end
        developer for this project, my role was to design and implement a
        responsive user interface that would ensure a seamless user experience
        across various devices. I utilized Angular for building the front-end,
        Firebase for handling user authentication and data storage, and
        Bootstrap with Sass for responsive and visually appealing styles.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col parr-block">
      <h5>Objective</h5>
      <p>
        The primary objective of the ADHD Informative Website was to raise
        awareness about ADHD, its symptoms, treatment options, and support
        resources. The platform targeted both individuals seeking information
        about ADHD and professionals looking for educational content related to
        the disorder. Additionally, the website featured a diagnostic test to
        help users assess the probability of having ADHD.
      </p>
    </div>
  </div>
  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col">
      <div class="img-container img-standalone">
        <div
          (click)="
            imgZoom('./assets/img/projects/mental-b/mental-b-screens-1.webp')
          "
        >
          <img
            src="./assets/img/projects/mental-b/mental-b-screens-1.webp"
            class="img-text"
          />
        </div>
        <figcaption></figcaption>
      </div>

      <div class="parr-block">
        <h6>Technologies used</h6>
        <ol>
          <li>
            Angular: As the front-end framework, Angular was chosen for its
            robustness, modularity, and ability to create responsive web
            applications.
          </li>
          <li>
            The Firebase platform was used for user authentication, allowing
            registered users to access exclusive content and upload blog posts
            securely.
          </li>
          <li>
            Bootstrap with Sass: The combination of Bootstrap's responsive
            design components and Sass's CSS preprocessing capabilities
            facilitated rapid and consistent styling across the website,
            ensuring responsiveness on all devices.
          </li>
        </ol>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col parr-block">
      <h6>Features implemented</h6>
      <ol>
        <li>
          User Authentication: Users could sign up and log in using their email
          and password or Google accounts. Authenticated users had access to
          exclusive content, including blog posts and the ADHD diagnostic test.
        </li>

        <li>
          Content Management System: Authenticated users were given the ability
          to create, edit, and delete blog posts through a user-friendly form.
          Content uploaded by users was stored in Firebase's cloud database,
          ensuring seamless data management.
        </li>

        <li>
          ADHD Diagnostic Test: The website featured a multiple-choice test that
          users could take to assess their likelihood of having ADHD. After
          completing the test, users received personalized feedback based on
          their answers, directing them to appropriate resources.
        </li>

        <li>
          Responsive Design: Bootstrap's responsive grid system and utility
          classes were utilized to ensure the website adaptability across
          various devices and screen sizes. The website's layout, fonts, and
          images automatically adjusted to provide an optimal viewing experience
          on desktops, tablets, and smartphones.
        </li>
      </ol>
      <div class="parr-block">
        <h6>Challenges faced</h6>
        <ol>
          <li>
            Integrating Firebase with Angular for user authentication and data
            storage required thorough planning and understanding of Firebase's
            APIs.
          </li>
          <li>
            Designing a user-friendly interface for the diagnostic test while
            accurately assessing ADHD probability was a complex task.
          </li>
          <li>
            Ensuring the website's responsiveness across different devices
            demanded meticulous testing and optimization.
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!--IMG BLOCK
  <div class="img-block-container">
    <div class="img-container">
      <div
        (click)="
          imgZoom('./assets/img/projects/mental-b/mental-b-screens-1.webp')
        "
      >
        <img
          src="./assets/img/projects/mental-b/mental-b-screens-1.webp"
          class="img-text"
        />
      </div>
      <figcaption>
        Heuristic evaluation consists in examining the UI and judge its
        compliance with recognized usability principles.
      </figcaption>
    </div>
    <div class="img-container">
      <div
        (click)="
          imgZoom('./assets/img/projects/sales-statement/feedbackanalysis.png')
        "
      >
        <img
          src="./assets/img/projects/sales-statement/feedbackanalysis.png"
          class="img-text"
        />
      </div>
      <figcaption>Quantitative analysis of feedback from users.</figcaption>
    </div>
  </div>-->

  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col parr-block">
      <h5>Conclusion</h5>
      <p>
        The ADHD Informative Website project successfully accomplished its
        objective of creating an educational platform for ADHD-related
        information. As the front-end developer, I leveraged Angular, Firebase,
        Bootstrap, and Sass to build a responsive, feature-rich, and
        user-friendly website. The integration of user authentication, content
        management, and the diagnostic test provided a valuable resource for
        users seeking information and support related to ADHD.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col">
      <p>
        The responsive design ensured that the website delivered an optimal
        experience on various devices, underscoring its accessibility and
        usability. The project's success highlighted the effectiveness of modern
        front-end technologies in addressing critical health and educational
        topics while maintaining a responsive user interface.
      </p>
      <button
        class="button-primary"
        (click)="
          openLink('https://senpairicktft21.github.io/sitio-mentalbehavior/')
        "
      >
        Go to live site
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-box-arrow-up-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
          />
          <path
            fill-rule="evenodd"
            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
