<div class="project-inner-container">
  <div class="header-container">
    <div class="">
      <h2 data-aos="fade-up">Aluminio Industrial WordPress Website</h2>
      <div class="header-img-overlay">
        <img
          data-aos="fade-down"
          class="header-img"
          src="./assets/img/projects/aluminio/aluminio-head-img.webp"
        />
      </div>
      <div class="tags-container">
        Tools | Technologies | Methodologies:<br />
        <div class="tags-wrapper">
          <span class="project-tag">WordPress</span
          ><span class="project-tag">Divi Theme</span>
          <span class="project-tag">HTML & CSS</span>
          <span class="project-tag">WordPress Pluggins</span>
          <span class="project-tag">SEO strategies</span>
        </div>
      </div>
    </div>
  </div>
  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col parr-block">
      <h5>Overview</h5>
      <p>
        Aluminio Industrial is a company specializing in industrial aluminum
        products. They needed a modern and visually appealing website to
        showcase their products, attract potential clients, and improve their
        online presence. As the designer and developer for the project, you used
        WordPress with the Divi theme, prioritized visual harmony,
        responsiveness, attractive visual elements, information architecture,
        and SEO capabilities.
      </p>
      <h5>Key features</h5>
      <ol>
        <li>
          Modern Visual Design:<br />
          Create a visually appealing and modern website design that reflects
          the company's professionalism and expertise in the industrial aluminum
          industry.
        </li>
        <li>
          Responsive Design: <br />Ensure that the website is fully responsive
          and compatible with various devices, such as desktops, tablets, and
          mobile phones, providing an optimal user experience.
        </li>
        <li>
          Visual Elements:<br />
          Utilize a balanced combination of colors, icons, and images that align
          with the company's brand identity, evoking a sense of reliability and
          innovation.
        </li>
        <li>
          Information Architecture:<br />
          Organize the website's content in a user-friendly manner, allowing
          visitors to easily navigate through product categories, services, and
          other relevant information.
        </li>
        <li>
          SEO Capabilities:<br />
          Implement SEO best practices to improve the website's visibility in
          search engines, driving organic traffic and potential leads.
        </li>
      </ol>
    </div>
    <div class="col-lg-1"></div>
    <div class="col parr-block">
      <ol start="6">
        <li>
          Remote Team Collaboration:<br />
          Successfully collaborate with a remote team from another country,
          ensuring effective communication, task delegation, and progress
          tracking.
        </li>
      </ol>
      <h5>Objectives</h5>
      <ol>
        <li>
          Home Page:<br />
          Create an engaging home page with a hero banner featuring high-quality
          images of the company's flagship products, a brief introduction, and a
          prominent call-to-action button.
        </li>
        <li>
          Product Showcase:<br />
          Design a dedicated product page showcasing various industrial aluminum
          products, accompanied by detailed descriptions and visually appealing
          images.
        </li>
        <li>
          Services Section:<br />
          Include a section highlighting the company's specialized services,
          using icons to represent each service for visual appeal.
        </li>
        <li>
          Contact Page:<br />
          Develop a contact page with a user-friendly contact form, contact
          details, and an interactive map showing the company's location.
        </li>
        <li>
          Responsive Design:<br />
          Ensure the website is fully responsive, adapting seamlessly to
          different screen sizes and devices.
        </li>
        <li>
          SEO Optimization:<br />
          Implement on-page SEO elements such as meta tags, keyword-rich
          content, and optimized image alt attributes to improve search engine
          rankings.
        </li>
        <li>
          Plugins and Featured Code:<br />
          Utilize carefully selected plugins to enhance functionality and
          performance, incorporating custom code where necessary to meet
          specific design requirements.
        </li>
      </ol>
    </div>
  </div>
  <!--IMG BLOCK
  <div class="img-block-container">
    <div class="img-container">
      <div
        (click)="imgZoom('./assets/img/projects/socialbook/signupscreen.png')"
      >
        <img
          style="width: 100%; height: auto"
          src="./assets/img/projects/socialbook/signupscreen.png"
          class="img-text"
        />
      </div>
      <figcaption>Sign-up screen.</figcaption>
    </div>
    <div class="img-container">
      <div
        (click)="imgZoom('./assets/img/projects/socialbook/signinsection.png')"
      >
        <img
          style="width: 100%; height: auto"
          src="./assets/img/projects/socialbook/signinsection.png"
          class="img-text"
        />
      </div>
      <figcaption>Quantitative analysis of feedback from users.</figcaption>
    </div>
  </div>-->
  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col parr-block">
      <h5>Results</h5>
      <p>
        The Aluminio Industrial WordPress website successfully achieved its
        objectives. The visually harmonious design, responsive layout, and
        attractive visual elements effectively showcased the company's expertise
        and products. The user-friendly information architecture made it easy
        for visitors to navigate the website and find relevant information.
        Implemented SEO strategies improved the website's search engine
        visibility, leading to increased organic traffic and potential leads.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col parr-block">
      <p>
        Furthermore, the successful collaboration with a remote team from
        another country showcased your strong teamwork and planning skills,
        ensuring the project's timely completion and client satisfaction. The
        combination of your design and development expertise with WordPress,
        Divi theme, and selected plugins resulted in a powerful and
        user-friendly website for Aluminio Industrial.
      </p>

      <button
        class="button-primary"
        (click)="openLink('https://aluminioindustrial.mx/')"
      >
        Go to live site
        <svg
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-box-arrow-up-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
          />
          <path
            fill-rule="evenodd"
            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
