.contact-container {
  min-height: 100vh;
  padding: 4% 12%;
  display: flex;
  align-items: flex-start;
}

.cards-container {
  display: flex;
  //margin-inline: -1rem;
  //gap: 6rem;
  min-height: 300px;
  margin-top: 4rem;
  justify-content: space-between;
}

.cards-container > * {
  flex-basis: 30%;
}

.contact-inner-container {
  margin-block: 8rem;
}

h2 {
  text-align: center;
}

.recommendation-profile {
  font-size: 0.8rem;
}

.contact-parr {
  text-transform: none;
  //font-size: 0.95rem;
  text-align: center;
  margin-block: 1rem;
  font-weight: 200;
}

.contact-buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
a {
  text-decoration: none;
}

.contact-title {
  color: #9b1c98;
}

@media (max-width: 1199.98px) {
  .cards-container {
    padding: 1rem;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    margin-inline: -1rem;
  }
  .contact-inner-container {
    margin: auto auto 4rem auto;
  }
  .contact-title {
    margin-top: 6rem;
  }
}
@media (max-width: 767.98px) {
  .contact-container {
    padding: 2rem;
  }

  /*.cards-container {
    flex-direction: column;
  }*/
  .contact-buttons-container {
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
}
