<div id="portfolio" class="portfolio-container row gx-0">
  <div class="col-xl-12">
    <h2 data-aos="fade-up">Portfolio</h2>
    <div class="portfolio-item-container g-0">
      <portfolio-item
        title="Sales Payment Statement"
        projectUrl="https://uxclaudia.framer.ai/projects-is"
        description="Web Platform for a sales team to review monthly Payment
        Statement details."
        imgUrl="./assets/img/salesstatement.png"
      ></portfolio-item>
      <portfolio-item
        title="System Monitor Dashboard"
        projectUrl="https://uxclaudia.framer.ai/projects-spd"
        description="UI design for a digital dashboard to monitor ssytem processes"
        imgUrl="./assets/img/monitordashboard.png"
      ></portfolio-item>
      <portfolio-item
        title="Design Festival Webpage"
        projectUrl="https://uxclaudia.framer.ai/projects-spark"
        description="Webpage design for a global design festival."
        imgUrl="./assets/img/spark.png"
      ></portfolio-item>
    </div>
  </div>
</div>
