<div id="portfolio" class="portfolio-container row gx-0">
  <div class="col-xl-12">
    <h2 data-aos="fade-up">Work</h2>
    <div
      class="categories-container"
      [ngClass]="{ 'categories-focus': categoryFiltered.length }"
    >
      <div class="select-category-clear">
        <button
          *ngIf="categoryFiltered.length"
          class="btn clear-btn"
          (click)="clearFilters()"
        >
          <img class="" src="./assets/icons/close-icon-purple.svg" />
        </button>
      </div>
      <div class="categories-buttons-wrapper">
        <button type="button" class="btn" (click)="filterProjects('UI Design')">
          UI Design
        </button>
        <button
          type="button"
          class="btn"
          (click)="filterProjects('Front-end development')"
        >
          Front-end development
        </button>
        <button
          type="button"
          class="btn"
          (click)="filterProjects('UX Research')"
        >
          UX Research
        </button>
        <button type="button" class="btn" (click)="filterProjects('Branding')">
          Branding
        </button>
      </div>
    </div>
    <div class="portfolio-item-outter">
      <div class="portfolio-item-container g-0 row">
        <ng-container *ngFor="let item of portfolioItems">
          <portfolio-item
            title="{{ item.title }}"
            projectUrl="{{ item.projectUrl }}"
            description="{{ item.description }}"
            imgUrl="{{ item.imgUrl }}"
            aosDelay="{{ item.aosDelay }}"
            [isProtected]="item.isProtected"
          ></portfolio-item>
        </ng-container>
      </div>
    </div>
  </div>
</div>
