<div class="project-inner-container">
  <div class="header-container">
    <div class="">
      <h2 data-aos="fade-up">System Monitoring Dashboard</h2>
      <div class="header-img-overlay">
        <img
          data-aos="fade-down"
          class="header-img"
          src="./assets/img/projects/dashboard/platform-dash-header-img.webp"
        />
      </div>
    </div>
    <div class="tags-container">
      Tools | Technologies | Methodologies:<br />
      <div class="tags-wrapper">
        <span class="project-tag">sketch</span
        ><span class="project-tag">InVISION</span
        ><span class="project-tag">carbon design system</span>
        <span class="project-tag">react</span>
        <span class="project-tag">html</span>
        <span class="project-tag">sass</span>
      </div>
    </div>
  </div>
  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col parr-block">
      <h5>Overview</h5>
      <p>
        Our internal engineering team lacked an efficient and centralized system
        to monitor and oversee critical system processes. The purpose was to
        provide a user-friendly and visually appealing interface that would
        streamline the monitoring of system processes from the apps the
        technical members of the team developed and maintained, and allow them
        to be aware of any potential issues with the ongoing tasks.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col parr-block">
      <h5>Research and findings</h5>
      <p>
        The applied strategy consisted on conducting user interviews and
        analyzing the obtained feedback. The findings revealed the need for a
        continual visual representation of the systems status and intuitive
        controls for efficient monitoring and maintenance. The system monitoring
        did not have a visual interface (the users were running processes on the
        terminal).Additionally, it was crucial to effectively transition the
        existing experience flow to the new interface design.
      </p>
    </div>
  </div>
  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col">
      <div class="">
        <h5>Design, testing and iteration</h5>
        <p>
          I created the prototypes using Sketch and applying IBM Design
          principles to ensure that the outcome will align with the brand
          identity. I also utilized IBM's Carbon Design System, which brought
          consistency and maintainability to the final result. The design aimed
          to provide a visually appealing and consistent experience for the
          team. Emphasis was placed on clear information display, intuitive
          navigation, and accurate representation of the user flow found on the
          research phase.
        </p>
        <p>
          To validate the designs, I conducted multiple usability testing
          sessions with end users. Their feedback was crucial in refining the
          interface and aligning it with their specific needs. Iterative
          feedback loops were employed to address usability concerns and ensure
          that the design met their expectations.
        </p>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col parr-block">
      <div class="img-container img-standalone">
        <div
          (click)="
            imgZoom('./assets/img/projects/dashboard/screen-samples.webp')
          "
          style="height: 100%; width: auto"
        >
          <img
            src="./assets/img/projects/dashboard/screen-samples.webp"
            class="img-text"
            style="height: 100%"
          />
        </div>
        <figcaption></figcaption>
      </div>
      <div class=""></div>
    </div>
  </div>
  <!--IMG BLOCK-->
  <div class="img-block-container">
    <div class="img-container">
      <div (click)="imgZoom('./assets/img/projects/dashboard/site-map.webp')">
        <img
          src="./assets/img/projects/dashboard/site-map.webp"
          class="img-text"
        />
      </div>
      <figcaption>
        A site map for one of the dashboard applications designed.
      </figcaption>
    </div>
    <div class="img-container">
      <div (click)="imgZoom('./assets/img/projects/dashboard/spec.webp')">
        <img src="./assets/img/projects/dashboard/spec.webp" class="img-text" />
      </div>
      <figcaption>
        A hand-off file detailing specs for implementation.
      </figcaption>
    </div>
  </div>

  <!--IMG BLOCK-->
  <div class="img-block-container">
    <div class="img-container">
      <div
        (click)="imgZoom('./assets/img/projects/dashboard/secretserver.webp')"
      >
        <img
          src="./assets/img/projects/dashboard/secretserver.webp"
          class="img-text"
        />
      </div>
      <figcaption>Sreen showing system status.</figcaption>
    </div>
    <div class="img-container">
      <div (click)="imgZoom('./assets/img/projects/dashboard/iidr.webp')">
        <img src="./assets/img/projects/dashboard/iidr.webp" class="img-text" />
      </div>
      <figcaption>Data table details screen.</figcaption>
    </div>
  </div>

  <!--TEXT BLOCK-->
  <div class="text-block row">
    <div class="col parr-block">
      <h5>Implementation</h5>
      <p>
        In addition to my role as a UX strategist, I had the opportunity to
        implement the code for the dashboard's homepage. Leveraging my knowledge
        of the Carbon Design System and React JS, I translated part of the
        finalized design into functional code. This allowed for a seamless
        integration between the design and development process.
      </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col">
      <h5>Results and key learnings:</h5>
      <p>
        Throughout this project, I learned the importance of involving coworkers
        as end users and aligning the final result with their needs. By
        conducting user interviews and validation sessions with the internal
        engineering team, I gained valuable insights that shaped the design
        process. Additionally, having the opportunity to implement part of the
        code and collaborate closely with the development team improved overall
        work efficiency, resulting in a streamlined digital dashboard that
        effectively met the team's requirements.
      </p>
    </div>
  </div>
  <button
    class="button-primary"
    (click)="
      openProtectedLink(
        $event,
        'https://ibm.invisionapp.com/console/share/4UO1IAKPSZA/971702091/play'
      )
    "
  >
    Open prototype
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      class="bi bi-box-arrow-up-right"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
      />
      <path
        fill-rule="evenodd"
        d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
      />
    </svg>
  </button>
</div>
