.about-container {
  min-height: 100vh;
  /*padding-top: 68.6px;*/
  /*background-image: url("../../../../assets/img/aboutme-img-bckg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;*/
  display: flex;
  /*align-items: center;*/
  flex-wrap: wrap;
  padding: 8% 12%;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
}
p {
  font-weight: 300;
}

h2 {
  margin-bottom: 4rem;
}

.text-block-container {
  margin-bottom: 2rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.buttons-container > * {
  flex-grow: 1;
  max-width: 50%;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  height: 100%;
}

ul {
  margin-bottom: 0;
}

.photo-container {
  display: flex;
  align-content: center;
  margin-bottom: 2rem;
}
.cga-ilustracion {
  max-height: 360px;
  border-radius: 1%;
}

.accordion-container {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

@media (max-width: 767.98px) {
  .about-container {
    padding: 2rem;
  }
  .buttons-container > * {
    max-width: 100%;
  }
  .text-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .right-container {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .photo-container {
    margin: 4rem 0;
  }

  img {
    max-width: 100%;
  }

  .accordion-container {
    padding: 0 !important;
    flex-wrap: wrap;
  }
}
