<div id="aboutme" class="about-container row gx-0">
  <div class="col-xl-6 about-text-container">
    <div class="text-container">
      <div>
        <div>
          <h2 data-aos="fade-down">Meet me</h2>
          <div data-aos="fade-right">
            <p>
              I became passionate about design at an early age when I discovered
              the power of inanimated things to evoke emotions through
              interaction. I strive to be the
              <span class="highlighted"
                >architect of well-designed products that blend user needs with
                business goals to help companies deliver consistently successful
                products.</span
              >
            </p>
            <p>
              My BFA studies in Graphic Design provided me a strong foundation
              in visual design. As I explored web development, I got excited
              when I could translate my website designs into code (I coded this
              portfolio). This naturally led to merge my skills with user
              interface design. My recent four year experience designing digital
              products at IBM played a significant role in shaping my
              professional career as a product designer.
              <span class="highlighted"
                >My goal is to specialize in designing meaningful experiences
                that bring practical value and make a tangible impact on
                people's everyday lives</span
              >. Besides design, I'm passionate about playing the piano and
              ukulele, indulging in reading, drawing, and take walks with my
              dog.
            </p>

            <div>
              <p class="invitation">
                I possess
                <span class="highlighted"
                  >strong skills as a UX Strategist, Frontend Developer, and
                  Product Designer</span
                >.
              </p>
            </div>
          </div>
          <div class="buttons-container">
            <button
              class="button-primary"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              get in touch
            </button>
            <button
              class="button-primary"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              know my work
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 ilustracion-container">
    <!--<img class="cga-ilustracion" src="./assets/img/cgilustracion.jpg" />-->
  </div>
</div>
