<section id="billboard" class="bill-main-container">
  <div class="bill-upper-container row">
    <div class="bill-greeting col-xxl-8 text-center">
      <div class="bill-iam">
        <h1>
          <span class="bill-welcome">Welcome! I'm Claudia,<br /></span>
          creative designer and developer.
        </h1>
      </div>
    </div>
  </div>
  <div class="scrolldown-icon" (click)="scrollToSection('portfolio')">
    <img src="./assets/icons/scrolldown.svg" />
  </div>
  <div class="marquee-container">
    <app-marquee></app-marquee>
  </div>
</section>
