<div id="billboard" class="hero-container text-center">
  <div class="upper-container">
    <div class="title-container row gx-0">
      <!--<div class="col"></div>-->
      <div class="col content-container">
        <div class="text-container">
          <!--<div
            class="main-text-wrapper"
            [@fadeInOut]="isVisible ? 'visible' : 'hidden'"
            [@bounceInTop]
          >-->
          <div class="greeting-container">
            <!--<div class="bounce-in-element">-->
            <div class="welcome-container">
              <div data-aos="fade-up" data-aos-duration="1200" class="welcome">
                <div>welcome.</div>
              </div>
              <!--<div class="scrolling-words-box">
                <h1>
                  <ul>
                    <li>product design</li>
                    <li>ux design</li>
                    <li>visual design</li>
                    <li>front-end developement</li>
                    <li>product design</li>
                  </ul>
                </h1>
              </div>-->
            </div>
            <div class="iam-container">
              <!--<div class="greeting bounce-in-element">-->
              <div class="iam-wrapper">
                <div
                  class="greeting"
                  data-aos="fade-up"
                  data-aos-duration="1400"
                  data-aos-delay="100"
                >
                  I am Claudia Garfias.
                </div>
                <p
                  class="secondary-title"
                  data-aos="fade-down"
                  data-aos-duration="1400"
                  data-aos-delay="100"
                >
                  I design effective digital products that people love and
                  implemented them into clean, efficient code.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col"></div>-->
    </div>
  </div>
  <!--
  <div class="row buttons-container gx-0">
    <div
      [@slideUpAnimation]
      class="col-12 col-md-4 billboard-button p-0"
      (click)="openLink('portfolio')"
    >
      <div class="button-text">
        <img [src]="imageUrl[0]" />
        <div>work</div>
      </div>
    </div>
    <div
      [@slideUpAnimation]
      class="col-12 col-md-4 billboard-button p-0"
      (click)="openLink('aboutme')"
    >
      <div class="button-text">
        <img [src]="imageUrl[0]" />
        <div>meet me</div>
      </div>
    </div>
    <div
      [@slideUpAnimation]
      class="col-12 col-md-4 billboard-button p-0"
      (click)="openLink('contact')"
    >
      <div class="button-text">
        <img [src]="imageUrl[1]" />
        <div>contact</div>
      </div>
    </div>
  </div>-->
</div>
