/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./styles/variables";
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Vidaloka&display=swap");
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: $gray-primary;
  overflow-x: hidden;
  min-height: 100%;
  font-size: 18px;
}

h1 {
  font-family: "Vidaloka", serif;
  color: $purple-primary;
  font-size: 2.5rem;
}

h2 {
  font-family: "Vidaloka", serif;
  font-weight: 100;
  font-size: 2.9rem;
  line-height: 150%;
}

.button-primary {
  border: 0.5px solid $purple-primary;
  padding: 1rem;
  background-color: #ffffff00;
  font-size: 1.25rem;
  font-weight: 300;
  color: $purple-primary;
  margin-top: 1rem;
  line-height: 100%;
  border-radius: 2px;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.button-primary:hover {
  cursor: pointer;
  background-color: $purple-primary;
  color: #ffff;
  border: none;
}

p {
  font-size: 107%;
}

.footer {
  background-color: $gray-primary;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 200;
  font-size: 14px;
}
