@import "../../../../styles/variables";

.highlighted {
  font-weight: 500;
  color: $gray-primary;
}

.about-container {
  background: linear-gradient(to bottom, #ffff, $bckg-gray-light);
}

.contact-container {
  background: $gray-primary;
}

.recommendation-card {
  background-color: #2229349e;
  padding: 3rem;
  border-radius: 3px;
  font-size: 0.95rem;
  color: $bckg-gray-light;
}

.icon-box {
  background-color: $purple-primary;
  width: 48px;
  height: 48px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

.contact-btn {
  background-color: $purple-primary;
  padding: 1.15rem 2rem;
  font-size: 0.9rem;
  color: #ffff;
  min-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  border-radius: 3px;
  flex-wrap: wrap;
}
.contact-btn:hover {
  background-color: #b42ab2;
}

.accordion-container {
  width: 100%;
  //padding-inline: 2rem;
}

.accordion {
  width: 100%;
  border-bottom: 1px solid $purple-secondary;
  --bs-accordion-bg: transparent;
}

li::marker {
  color: transparent;
}
.accordion-collapse {
  background-color: transparent;
}
.accordion-item {
  border: none;
  border-radius: 0;
}

.accordion-button {
  font-weight: 200;
  font-size: 1.25rem;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: $purple-primary;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.35rem rgba(243, 218, 255, 0.75);
  -webkit-box-shadow: 0 0 0 0.35rem rgba(243, 218, 255, 0.75);
  -moz-box-shadow: 0 0 0 0.35rem rgba(243, 218, 255, 0.75);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../../../../assets/icons/chevron-down 1.svg");
}

.accordion-button.collapsed {
  box-shadow: none;
}
.accordion-body {
  background-color: #fff;
  font-size: 1rem;
}

.portfolio-container {
  background-color: $bckg-gray-light;
}

.categories-container {
  margin-block: 4rem;
  display: flex;
  align-items: flex-start;
  //gap: 1rem;
  background-color: rgba(#ffff, 0.5);
  justify-content: space-between;
}

.categories-container:focus {
  box-shadow: 0 0 0 0.35rem rgba(243, 218, 255, 0.75);
  -webkit-box-shadow: 0 0 0 0.35rem rgba(243, 218, 255, 0.75);
  -moz-box-shadow: 0 0 0 0.35rem rgba(243, 218, 255, 0.75);
}

.clear-btn {
  border-radius: 0;
  background-color: $purple-secondary;
  border: none;
  width: 44px;
  height: 44px;
}
.categories-container img {
  width: 22px;
  margin: 0;
  fill: $purple-primary;
}

.categories-buttons-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  //border-bottom: 1px solid $gray-accent;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0 -1px 0px 0px $gray-accent;
}

.categories-buttons-wrapper button {
  color: $gray-primary;
  border-radius: 2px 2px 0 0;
  border: none;
  height: 44px;
}
.categories-buttons-wrapper button:hover {
  background-color: rgba(#ffff, 0.5);
  color: $gray-primary;
  border-bottom: 1px solid $purple-primary;
}
.categories-buttons-wrapper button:active {
  border: none;
}
.categories-buttons-wrapper button:focus {
  background-color: rgba($gray-secondary, 0.15);
  color: black;
  border-bottom: 1px solid $purple-primary;
}

@media (max-width: 1199.98px) {
  .secondary-title {
    font-size: 1.15rem;
  }
  .greeting {
    font-size: 2.75rem;
  }
  .categories-container {
    margin-top: 0;
  }
}
@media (max-width: 992px) {
  .categories-buttons-wrapper {
    flex-direction: column;
  }
  .categories-buttons-wrapper button {
    background-color: rgba(#ffff, 0.5);
  }

  .categories-buttons-wrapper:first-child {
    order: 1;
  }
  .categories-container {
    flex-direction: column;
    background-color: transparent;
  }

  .greeting-container {
    flex-direction: column;
  }
  .greeting-container > * {
    width: 100%;
    height: 50%;
  }

  .iam-container > * {
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .hero-container {
    padding: 0;
  }

  .scrolling-words-container {
    margin: auto;
  }

  .text-container {
    padding: 0;
  }

  .secondary-title {
    font-size: 1.15rem;
    padding: 0 1rem;
    margin: 1rem;
  }
  .greeting {
    font-size: 2.5rem;
    font-weight: 100;
    padding: 0 1rem;
  }
}
